[run]
source = .
omit = **/admin/*, **/migrations/*.py, **/test*.py, **/tests/, **/__init__.py, .venv/**, app/**, manage.py

[report]
show_missing = true
sort = -cover
skip_covered = true

[html]

[xml]
output = build/coverage.xml
